* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.section-login {
  background: #151515;
  background: linear-gradient(90deg, #151515 0%, #2e2c2f 100%);
}
